.go-back-btn {
  background: linear-gradient(90deg, #6c63ff, #c77dff);
  color: white;

  border: none;
  border-radius: 12px;

  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
  white-space: nowrap;

  box-shadow: 0 6px 18px rgba(108, 99, 255, 0.45);
  transition: all 0.2s ease;
}

.go-back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 28px rgba(199, 125, 255, 0.6);
}
